body{
 

}

.img{
    text-align: center;
    
}

.button{
    text-align: center;
}

.a{
    text-align: center;
}

.brand{
    text-align: center;
}

.log{
    text-align: center;
   display:flex;
   align-items: flex-start;
   flex-direction: column;
   margin-left: 45%;
}

