body{
 background-image: url(Chitkara_University_pic.jpg);
 background-repeat: no-repeat; 
 width: 100%;
 background-size: cover ;


}

.img{
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    
}

.button{
    text-align: center;
}

.a{
    text-align: center;
}

.brand{
    text-align: center;
}

.log{
    text-align: center;
   display:flex;
   align-items: flex-start;
   flex-direction: column;
   margin-left: 10%;
   font-family: Arial, Helvetica, sans-serif;
}

.main {
    background-color: white;
    width: 300px;
    text-align: center;
    margin-left: 60% ;
    margin-top: 5%;
    padding-bottom: 5px;
}